appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.6
black==21.5b0
boto3==1.17.59
botocore==1.20.59
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==5.0.1
dj-database-url==0.5.0
Django==3.2
django-environ==0.4.5
django-heroku==0.0.0
django-rest-framework==0.1.0
djangorestframework==3.12.4
EasyProcess==0.3
entrypoint2==0.2.4
idna==2.10
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
isort==5.8.0
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mss==6.1.0
mypy-extensions==0.4.3
numpy==1.20.2
opencv-python==4.5.2.52
pafy==0.5.5
pathspec==0.8.1
Pillow==8.2.0
psycopg2-binary==2.8.6
pycryptodome==3.10.1
pylint==2.8.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyscreenshot==3.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
s3transfer==0.4.2
simplejpeg==1.6.0
six==1.15.0
sqlparse==0.4.1
streamlink==2.1.1
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
vidgear==0.2.1
websocket-client==0.59.0
whitenoise==5.2.0
wrapt==1.12.1
youtube-dl==2021.4.26
