.videoplayer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5% 5% 5% 0%;
}

.videoplayer__videodetails {
    flex: 0.8;
}


.videoplayer__video, .videoplayer__videoinfo {
    margin: 5% 5% 5% 10%;
}

.videoplayer__suggested {
    flex: 0.1;
    margin-top: 0 !important;
}

.videoplayer__videoinfo {
    flex-direction: row;
}

.videoinfo__channeldesc {
    color: gray;
    font-size: small;
}
